@font-face {
    font-family: Fjalla;
    src: url(./FjallaOne-Regular.ttf)
}

* {
    font-family: Fjalla;
}

html {
    height: 100%;
}

body {
    background-color: rgb(1, 1, 90);
    width: 1080px;
    margin: auto;
    height: 100%;
}

header {
    margin: 0 auto;
    width: 1080px;
    
}

h1{
    font-size: 54px;
    color:rgb(63, 63, 255);
    background-color: rgb(1, 1, 121);
    text-transform: uppercase;
    text-align: center;
    padding: 8px;
    width: auto;
    height: auto;
    border-radius: 0px;  
    margin: 0;
}

.titlee h3 {
    color:rgb(15, 39, 172);
    font-size: 30px;
    text-align: center;
    margin-top: 4px;
}

p {
    color: gray;
    font-size: 14px;
    line-height: 170%;
    text-align: justify;
}

h4 {
    color: rgb(207, 207, 207);
    background-color: rgba(0, 81, 255, 0.671);
}

nav ul{
    line-height: 200%;
    font-size: 20px;
    padding-left: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

a {
    color: white;
}